.mainFooter {text-align: center; background-color: $dark-bg; padding: 20px 0;}

.footerLogo img {width: 100px;}
.socialicons {margin: 15px 0;}
.socialicons img {width: 30px; filter: invert(1); margin: 0 10px;}
.mainFooter p {margin: 0; color: white;}